/*
 * BASE
 */
* {
	margin: 0;
	padding: 0;
}
html, body{
	border: 0;
	height: 100%;
}

body {
	font-family: "�l�r �o�S�V�b�N", Osaka;
	font-size: 9px;
	background: #fff;
	color: #333333;
	line-height: 1.3;	
	margin: 0px;
	padding: 0px;
	height: 100%;
	text-align:center;
}

h1{
	font-family: "�l�r �o�S�V�b�N", Osaka;
	font-weight: bold;
	font-size: 50px;
	float:left;
	text-align:left;
	color: #334d55;
	margin: 0px;
	padding: 0px;
	padding-left:10px;
	vertical-align: botom;
}

h3{
	font-family: "�l�r �o�S�V�b�N", Osaka;
	font-size: 10px;
	font-weight:400;
	color:#666666;	
	margin: 0px;
	padding: 0px;
	border: 1px solid #bfbfbf;
	width: auto;
	line-height: normal;
}

h2, h4 {
	font-weight: bold;
	font-size: 1.3em;
}
td a img { 
	padding:0px; 
	border-width:0px; 
	margin:0px; 
	display: block
}

a img {
	border: 0;
	vertical-align: text-bottom;
}

a{
	color: #006699;
	text-decoration: none;
}

a:link{
	color: #006699;
	text-decoration: none;
}

a:visited{
	color: #006699;
	text-decoration: none;
}

a:hover {
	color: #006699;
	text-decoration: underline;
	background: #eee;
}

iframe {
	border: none;
}

v\\:* {
	behavior: url(#default#VML);
}

form {
	display: inline;
}

img {
	border: 0px;
	vertical-align: middle;
	background: transparent;
}

ul, ol {
	margin-left: 2.0em;
}


/*
 * LAYOUT
 */
#wrapper {
	width: 99%;
	background: transparent;
}

#header{
	background: transparent;
	width: 100%;
	margin:10px 0px 20px 0px;
	color: #cccccc;
	text-align: right;
	vertical-align:text-bottom;
	border-top:10px solid transparent;
	border-bottom:0px solid transparent;
	font-size: 12px;	
}

#header_menu{
    padding-top:35px;
	padding-right:10px;
    vertical-align:text-bottom;
}

#header_menu a {
}

#publayout
{
	margin-right:0px;	
	margin-left:0px;
}

#header1 {
	background: transparent;
	border-top: 10px solid transparent;
	width:100%;
}

#header h1 {
	font-size: 2.3em;
}

#header .subtitle {
	color: #000;
	margin: 0 20px;
	text-align:right;
}

#login_bar {
	float: right;
	padding: 5px 0;
	width: 20%;
}

#login_bar ul {
	list-style: none;
	margin: 0;
}

#login_bar ul li {
	display: inline;
	padding: 0 10px;
	border-left: 1px solid #333;
}

#login_bar img {
	vertical-align: middle;
	margin-right: 4px;
	_margin-right: 0;
}

#title_bar {
	clear: both;
	background: #000 url(images/right-bg.gif) repeat-y scroll right center;
	margin: 0 10px;
	_margin: 0 5px;
	padding: 10px 18px 10px 10px;
	min-width: 100px;
	float: left;
}

#title_bar h1 {
	font-size: 2em;
	color: #fff;
}

.menu{
text-align:right;
}

#menu_bar {
	margin-top: 20px;
}

#menu_bar ul {
	list-style: none;
	margin: 0;
}

#menu_bar ul li {
	float: left;
	margin-right: 4px;
}

#menu_bar ul li div a img {
	margin-right: 4px;
	_margin-right: 0;
}

#menu_bar ul li div a {
	padding: 5px 10px;
	text-decoration: none;
}

#menu_bar ul li div a:hover,
#menu_bar ul li.hover div a {
	background: #000;
	color: #ddd;
}

#menu_bar dl {
	display: none;
}

#menu_bar ul li.hover dl {
	width: 140px;
	margin: 0;
	background: #000;
	padding: 4px;
	display: block;
	position: absolute;
	color: #ddd;
}

#menu_bar dl dd {
}

#menu_bar dl dt {
	margin: 4px;
	font-weight: bold;
}

#menu_bar dl a {
	display: block;
	padding: 2px 4px;
	color: #666;
}

#breadcrumb {
	background: #eee;
	clear: both;
	padding: 4px 15px;
}

#breadcrumb ul {
	list-style: none;
	margin: 0;
}

#breadcrumb ul li {
	display: inline;
	padding: 0 20px 0 0;
	background: url(images/icons/bullet_go.png) center right no-repeat;
}

#breadcrumb ul li.right {
	display: inline;
	padding: 0;
	background: none;
}

#status {
	clear: both;
	margin: 10px;
}

#status ul {
	list-style: none;
	margin: 0;
}

#status ul li {
	clear: both;
	padding: 5px;
	margin: 1px 0;
	border: 1px solid #ddd;
	background: transparent;
}

#content{
	width: 550px;
	margin-right: 15px;
	margin-left: 15px;
	float: left;
	padding: 4px;
	border-bottom: 2px solid #ccc;
	font-size: 1.8em;	
	clear: both;
}

#content_public {
	clear: both;
	width:100%;
	padding:0;
	text-align:left;

}

#content img{
	max-width:550px;
}

h2 {
	padding: 4px;
	margin: 5px 0;
	border-bottom: 2px solid #ccc;
	font-size: 1.8em;
	clear: both;
}

table.layout {
	width: 96%;
	border-spacing: 0;
	border-collapse: collapse;

}

table.layout td.left {
	width: 190px;
	padding-right:15px;
	padding-left:40px;
	padding-top:0px;
	padding-bottom:0px;
	vertical-align: top;
}

table.layout td.center {
	width: 550;
	vertical-align: top;
	padding-right:0px;
	padding-left:0px;
	padding-top:0px;
	padding-bottom:0px;
}


table.layout td.noleft_center {
	width: 750px;
	vertical-align: top;
	padding-right:0px;
	padding-left:0px;
	padding-top:0px;
	padding-bottom:0px;
	
}

table.layout td.right {
	width: 180;
	padding: 0  15px 0 0px;
	vertical-align: top;
}

table.layout td.noleft_right {
	width: 180;
	padding: 0  15px 0 0px;
	vertical-align: top;
	
}


table.layout td.onlycenter {
	text-align:center;	
}

table.layout div.col {
	min-width: 500px;
	background: transparent url(images/right-bg.gif) repeat-y scroll right center;
	padding: 10px 20px 10px 10px;
}

table.layout div.pubcol {
	min-width: 500px;
	background: transparent;
	padding: 10px 20px 10px 10px;
/*	border-style:solid;
	border-color:#999;
	border-width:1px;*/
	width:550px;
}


table.layout div.noleft_pubcol {
	min-width: 500px;
	
	padding: 10px 20px 10px 10px;
/*	border-style:solid;
	border-color:#999;
	border-width:1px;*/
	width:550px;
}

table.layout div.newpubcol {
	min-width: 500px;
	background:transparent; /*pink;*/
}

table.layout div.newpubcol_noright {
	min-width: 711px;
	width:711px;
}

table.layout div.pubbottom {
}

table.layout div.bottom {
	background: transparent url(images/bottom-bg.gif) no-repeat scroll right top;
}

table.layout div.side {
	min-width: 190px;
	font-size: 9px;
	width:190px;
}




table.layout div.side_pubLayoutWithoutRight {
	min-width: 190px;
	width:190px;
	font-size: 9px;
}

table.layout div.side h2 {
	font-size: 0.8em !important;
}

#profile_table_th{
	border:1px solid #D4D4D4;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	font-weight:800;
	font-size:1.25em;
	letter-spacing:0.2em;
/*	color: #4E4E4E;	*/
	color : #1e1e1e;
}

#profile_table_th1{
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	font-weight:800;
	font-size:1.25em;
	letter-spacing:0.2em;
	color: #4E4E4E;
}

#profile_table_td
{
	padding-right:20px;
	padding-top:2px;
	padding-bottom:2px;
    font-weight:600;
	font-size:1.16em;
	letter-spacing:0.1em;
	vertical-align:baseline;
	color : #696969;
}

#profile_ul_li
{
	font-weight:600;
	font-size:1.0em;
	letter-spacing:0.1em;
	vertical-align:baseline;
}

ul.command {
	clear: both;
	margin: 0 0 20px 0;
	list-style: none;
}

ul.command li {
	margin: 4px 0;
}

ul.command li a {
	padding: 4px;
	display: block;
	text-decoration: none;
}

ul.command li a:hover {
	color: #fff;
	background: #000;
	text-decoration: none;
}

ul.command li a img {
	margin: 0 4px 0 0;
	vertical-align: middle;
}

#footer{
	clear: both;
	padding:15px 0px 15px 0px;
	text-align: center;
	color: #333;
	border-top: 30px solid transparent;
	background: transparent;
	width: 100%;
}

#footer_menu{
	font-size: 12px;
    margin-bottom:5px;
}

#footer_infolink{
	font-size: 11px;
    margin-bottom:5px;
}
#footer_copyright{
	font-size: 11px;
}


/*
 * COMMONS
 */

table.list {
	width: 100%;
	border-collapse: collapse;
	margin: 5px 0;
}

table.list th {
	padding: 4px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	white-space: nowrap;
	float: clear;
}

table.list td {
	padding: 4px;
	border-bottom: 1px dotted #ddd;
}

table.list tr.odd {
	background: #eee;
}

table.detail {
	width: 100%;
	border-collapse: collapse;
	margin: 5px 0;
}

table.detail tr {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}

table.detail th {
	width: 200px;
	padding: 4px;
	text-align: left;
	white-space: nowrap;
	float: clear;
	border-right: 1px dotted #ddd;
}

table.detail td {
	padding: 4px;
}

table.detail tr.odd {
	background: #eee;
}

.block {
	background: transparent;
	padding: 10px;
	margin: 10px 0;
	clear: both;
}

form .action {
	text-align: right;
	border-top: 1px solid #ddd;
	padding: 10px 0;
	clear: both;
}

.pager {
	text-align: right;
	margin: 5px 0;
}

.pager ul {
	list-style: none;
}

.pager ul li {
	display: inline;
	margin: 0 0 0 5px;
}

.message {
	margin: 1.0em 0;
	border: 2px solid #ddd;
	background: transparent;
	padding: 5px;
}

.notice {
	color: #090;
}

.error {
	color: #c00;
	border: 2px solid #c00;
}

dl.form {
	clear: both;
}

dl.form dt {
	float: left;
	padding: 2px 0;
}

dl.form dd {
	padding: 2px 0 2px 120px;
	margin: 2px;
}

div.sub {
	padding: 10px;
	background: #efefef;
	border: 1px solid #ddd;
}

/*
 * login form
 */
#login_form {
  width: 400px;
  border: 5px solid;
  padding: 10px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px -220px;
  font-size: 1.2em;
  background: transparent;
}

#login_form h1 {
  font-size: 1.6em;
  margin-bottom: 10px;
}

#login_form p {
  margin: 0.5em 0;
}

#login_form input {
  font-size: 1.2em;
}

#login_form .small {
  font-size: 0.8em;
}

#login_form ul {
	margin: 0 0 20px 0;
	list-style: none;
}

/*
 * required fields
 */
#required {
	border: thin double #ff0000;
	background-color: transparent;/*pink;*/
}

td{
font-size:9px;
}

table #baseblock{
	border-style:solid;
	border-color:#ccc;
	border-width:1px;
	width:100%;
}

td #baseblock #head{
	height:24;
	border-bottom:1px solid #ccc;
	text-align:center;
	font-size:12px;
}

#baseblock_img {
padding-left:20px;
}

#home_table {
	width:100%;
	text-align:left;
}

#all_table {
	text-align:left;
}

#home_table_th{
	border:1px solid #D4D4D4;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	font-weight:700;
	font-size:0.65em;
	letter-spacing:0.2em;
	color: #4E4E4E;
}
#home_table_th_center{
	border:1px solid #D4D4D4;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:12px;
	font-weight:700;
	font-size:1em;
	letter-spacing:0.2em;
	color: #4E4E4E;
	text-align:left;
}

#home_table_th_left
{
	border:1px solid #D4D4D4;
	text-align:left;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	font-weight:700;
	font-size:1em;	
/*	font-size:0.65em;*/
	letter-spacing:0.2em;
	color: #4E4E4E;
}


#home_table_td {
	border-top:1px solid #D4D4D4;
	border-bottom:1px solid #D4D4D4;
	border-left:1px solid #D4D4D4;
	border-right:1px solid #D4D4D4;
	width:175px;
	padding-top:15px;
	padding-bottom:14px;
	padding-left:25px;
	padding-right:25px;
	line-height:12px;
    font-weight:600;
/*	font-size:0.57em;*/
	font-size:1em;
	letter-spacing:0.1em;
	color: #4E4E4E;
	vertical-align:top;
}

#font {
	line-height:12px;
    font-weight:600;
	font-size:0.57em;
	letter-spacing:0.1em;
	color: #4E4E4E;
	vertical-align:top;
}

#home_table_td_rightborder {
	border-right:1px solid #D4D4D4;
	padding-bottom:25px;
	padding-left:20px;
	padding-top:20px;
	padding-right:20px;
	line-height:12px;
    font-weight:600;
	font-size:0.57em;
	letter-spacing:0.1em;
	color: #4E4E4E;
	vertical-align:top;
}

#home_table_td3 {
	border-top:1px solid #D4D4D4;
	border-bottom:1px solid #D4D4D4;
	border-left:1px solid #D4D4D4;
	border-right:1px solid #D4D4D4;
	width:175px;
	padding-top:15px;
	padding-bottom:14px;
	padding-left:25px;
	padding-right:25px;
	line-height:12px;
    font-weight:600;
	font-size:0.99em;
	letter-spacing:0.1em;
	color: #4E4E4E;
	vertical-align:top;
}

#home_table_td4 {
	border-top:1px solid #D4D4D4;
	border-bottom:1px solid #D4D4D4;
	border-left:1px solid #D4D4D4;
	border-right:1px solid #D4D4D4;
	width:175px;
	padding-top:10px;
	padding-bottom:14px;
	padding-left:25px;
	padding-right:25px;
	line-height:12px;
    font-weight:600;
	font-size:0.99em;
	letter-spacing:0.1em;
	color: #4E4E4E;
	vertical-align:top;
}

#home_table_td5 {
	border-top:1px solid #D4D4D4;
	border-bottom:1px solid #D4D4D4;
	border-left:1px solid #D4D4D4;
	border-right:1px solid #D4D4D4;
	width:175px;
/*	padding-top:10px;
	padding-bottom:14px;
	padding-left:25px;
	padding-right:25px;*/
	line-height:12px;
    font-weight:600;
	font-size:0.99em;
	letter-spacing:0.1em;
	color: #4E4E4E;
	vertical-align:top;
}


#home_table_td1 {
	padding-top:2px;
	padding-bottom:2px;
	padding-left:15px;
	padding-right:10px;
    font-weight:600;
/*	font-size:0.57em;*/
	font-size:1em;
	letter-spacing:0.1em;
	color: #4E4E4E;
	vertical-align:top;
}

#home_table_td2 {
	border-top:1px solid #D4D4D4;
	border-bottom:1px solid #D4D4D4;
	border-left:1px solid #D4D4D4;
	border-right:1px solid #D4D4D4;
	width:150px;	
	padding-top:20px;
	padding-bottom:5px;
	padding-left:20px;
	padding-right:20px;
	line-height:12px;
    font-weight:600;
	font-size:0.57em;
	letter-spacing:0.1em;
	color: #4E4E4E;
	vertical-align:top;
}

#home_table_td_border {
	border-top:1px solid #D4D4D4;
	border-bottom:1px solid #D4D4D4;
	border-left:1px solid #D4D4D4;
	border-right:1px solid #D4D4D4;
	width:175px;
	padding-top:15px;
	padding-bottom:14px;
	padding-left:25px;
	padding-right:25px;
	line-height:12px;
    font-weight:600;
	font-size:0.57em;
	letter-spacing:0.1em;
	color: #4E4E4E;
	vertical-align:top;
}

#leftpart
{
	float:left;
	width:175px;;
	height:100%;
	background:transparent;
	margin-right:10px;
	margin-top:3px;
}

#centerpart
{
	margin-top:0px;
	float:right;
	width:364px;
	background:transparent;
	height:100%;
}
/*
#centerleftinnerpart
{
	float:left;
	width:88%;	
}
*/
#centerrighterpart
{
	float:right;
	width:5%;
}
#home_td_space {
   width:10px;
   padding-left:5px;
   padding-right:5px;
}
#home_td_verticalspace {
   height:10px;
   padding-left:5px;
   padding-right:5px;
}

#tiny_bar  { 
/*
*back ground square box
*/
	
	float: left;
	/*padding-left:2px
	padding-right:2px
	padding-top:2px
	padding-bottom:10px*/
	padding: 2px 20px 2px 0;
	background-color:#BDBDBD;	
}
.tiny_bar1  { 
	background-color: #666666;
	padding-left:5px;
	padding-right:5px;
}

span.highlight
{
background-color:yellow;
padding: 1px 2px 4px 0;
}

#work_table {
	border-top:1px solid #D4D4D4;
	border-bottom:1px solid #D4D4D4;
	border-left:1px solid #D4D4D4;
	border-right:1px solid #D4D4D4;
	line-height:12px;
    font-weight:600;
/*	font-size:0.57em;*/
	font-size:1.2em;	
	letter-spacing:0.1em;
	color: #4E4E4E;
	vertical-align:top;	
}
#heading_feature {
	padding-top:5px;
	padding-bottom:5px;	
	padding-left:10px;	
	padding-right:10px;		
}


#font_of_text
{
line-height:12px;
    font-weight:600;
/*	font-size:0.57em;*/
	font-size:1em;	
	letter-spacing:0.1em;
	color: #4E4E4E;
	}

#work_table1 {
  	border-right:1px solid #D4D4D4;
	display:block;
    font-weight:600;
	vertical-align:top;
}

#work_table TR
  {	
  	line-height:12px;
    font-weight:600;
	font-size:0.57em;
	letter-spacing:0.1em;
	color: #4E4E4E;
	vertical-align:top;
}


#work_table TR TD a img  {
	/*padding-top:15px;
	padding-bottom:0px;
	padding-left:25px;
	padding-right:25px;*/
}

#work_table TR TD {
	line-height:12px;
    font-weight:400;
	font-size:10px;
	letter-spacing:0.1em;
	color: #4E4E4E;
	vertical-align:top;
}

#work_table_sub {
  /* border-top:1px solid #D4D4D4;
	border-bottom:1px solid #D4D4D4;
	border-left:1px solid #D4D4D4;
	border-right:1px solid #D4D4D4;*/
	width:100%;
	line-height:12px;
    font-weight:600;
	font-size:0.57em;
	letter-spacing:0.1em;
	color: #4E4E4E;
	vertical-align:top;
}

label.main, label.subtopic {
	color: #6D6D6D;
}

label.main, label.subtopic {
    font-weight:500;
    font-size:1.10em;
	letter-spacing:0.05em;
	line-height:1.5em;
	font-style:bold;
}

label.txttype1, label.txttype2 {
    font-weight:600;
    font-size:1.16em;
	font-size-adjust:-5em; 	
}

label.txttype1, label.txttype2, label.colon {
	color: #707070;
}
label.txttype1 {
 	letter-spacing:0.2em;
}

label.txttype2 {
 	letter-spacing:-0.1em;
 	margin-right:3px;
 	font-style:normal;
}

.txtbox {
	height:16px;
	width:285px;
	border:0.11em solid #C5C5C5;
	margin-bottom:2px;
}

.txtarea {
	margin-top:5px;
	margin-bottom:5px;
	border:0.11em solid #C5C5C5;	
	height:150px;
	width:475px;
	overflow:hidden;
}
#button_properties
{
	margin-left:2px;
	font-weight:600;
    font-size:1.16em;
 	color: #5F5F5F;
	width: 3.5em;
	height: 1.9em; 
	background-color:#CACACA;
	border:1px solid inset #C0C0C0;
}

#button_properties_forum
{
	margin-left:2px;
	font-weight:600;
    font-size:1.16em;
 	color: #5F5F5F;
	width: 4.5em;
	height: 1.9em; 
	background-color:#CACACA;
	border:1px solid inset #C0C0C0;
}


#button_properties1
{
	margin-left:2px;
	font-size:1.0em;
    color:black;
 	color: #5F5F5F;
	width: 50px;
	height: 25px; 
	background-color:#CACACA;
	border:1px solid inset #C0C0C0;
}

#button_properties2
{
font-size:1.0em;
    color:black;
	margin-left:2px;
	color: #5F5F5F;
	width: 20em;
	height: 5em; 
	background-color:#CACACA;
	border:1px solid inset #C0C0C0;
}

#button_properties3
{
font-size:1.0em;
    color:black;
 	color: #5F5F5F;
	width: 40px;
	height: 20px; 
	background-color:#CACACA;
	border:1px solid inset #C0C0C0;
}

#text_field
{
	width: 90px;
	height: 15px;
}


a.bluecolor {
	color:#7985F9;
	    font-size:1.16em;
	letter-spacing:0.05em;
	line-height:1.5em

a.blackcolor{
	color:#4F4F4F;
	    font-size:1.16em;
	letter-spacing:0.05em;
}

#pagin_block a{
	border-top:1px solid #D4D4D4;
	border-bottom:1px solid #D4D4D4;
	border-left:1px solid #D4D4D4;
	border-right:1px solid #D4D4D4;
	line-height:12px;
    font-weight:600;
	font-size:0.57em;
	letter-spacing:0.1em;
	color: #4E4E4E;
	vertical-align:top;	
}

.container{
	margin-right: auto;
	margin-left: auto;
	width: 950px;
}

.container img{
}

#hidarisode{
	float: left;
	width: 190px;
	margin: 0px;
	padding: 0px;
}
#hidarisode h3{
	text-align: center;
	padding: 4px 0px 3px 0px;
}
#hidarisode img {
	margin: 10px auto 5px auto;
}

#migisode{
  float:right;
	width: 180px;
}
#migisode h3{
	text-align: center;
	padding: 4px 0px 3px 0px;
}
#migisode img {
	margin: 10px auto 5px auto;
}

#works img{
	margin-bottom:10px;
}
#works h3{
	border-top:1px solid #bfbfbf;
	border-left:1px solid #bfbfbf;
	border-right:1px solid #bfbfbf;
	border-bottom:none;
}
#content h3{
	text-align: left;
	padding: 4px 0px 3px 10px;
}

#search{
	padding: 15px 0px 15px 0px;
	font-size: 90%;
	text-align:center;
}

#search form{
 margin: 0px;
 padding: 0px;
}

#search label{
	display: block;
	margin: 0px;
	padding: 0px;
}

.box{
	position: relative;
	margin: 0px 0px 20px 0px;
	width: 100%;
	padding: 0px;
}

.box a {
}

.box a:hover{
	background-color: #e7e7e7;
	text-decoration:none;
}

.words {
        padding:15px 0px 15px 13px;
		font-size:12px;
		line-height:150%;
}

.tripple{ 
		width: 182.7px;
}			 

.tripple img{ 
		  left: auto;
	      right: auto;
}					  
		 
#tripple_left{
	  float:right;
}

#tripple_center{
	  float:right;
}	

#tripple_right{
        clear:left;
}

#caption {
	�@	 text-align:left;
	font-size:10px;
    padding: 5px 13px 0px 13px;
	line-height:120%;
}		 
		 
#caption dt {
        float: left;
		text-align:right;
        width: 6em;
        font-size: 10px;
		font-weight:400;
		color:#666666;
}

#caption dd {
	margin-left: 5em;
	text-align:left;		
    font-size: 11px;
}

.submenu ul {
	line-height: 160%; 
	font-weight: bold;
	text-align:left;
	display: block;
}

.submenu li{
    font-size: 11px;	   
	 width: 8.5em;
	float:left;
}

.submenu a{
	 font-size: 11px;	
}	
	
.submenu_home ul {
	line-height:160%; 
	font-weight: bold;
	text-align:left;
	display: block;
}

.submenu_home li{
    font-size: 11px;	   
	 width:100%;
	float:left;
}
.submenu_home a{
	 font-size: 11px;	
}