.bold {

font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:20px;
font-weight:bold;
color:  #676767;
padding:10px;
align : left;
}

.line{
   
	background-color:#676767; 
	margin:0;
    padding:0px 0px 0 20px;
    height:1px;
    width : 100%px;
    overflow: hidden;

 
}

.Yellowcolor{
background-color: #FFFFCC; 
 padding:0px 0px 0 20px;
}

