@charset "UTF-8";

#subNavi li{
	float:left;
	height:31px;
}

#subNavi a{
	height:31px;
}

#subNavi #sub01{
	width:195px;
	background: url(../shop/images/s_navi_01_on.gif) top left no-repeat;
}
#subNavi #sub02{
	width:148px;
	background: url(../shop/images/s_navi_02_on.gif) top left no-repeat;
}
#subNavi #sub03{
	width:172px;
	background: url(../shop/images/s_navi_03_on.gif) top left no-repeat;
}
#subNavi #sub04{
	width:145px;
	background: url(../shop/images/s_navi_04_on.gif) top left no-repeat;
}
#subNavi #sub05{
	width:113px;
	background: url(../shop/images/s_navi_05_on.gif) top left no-repeat;
}
#subNavi #sub06{
	width:166px;
	background: url(../shop/images/s_navi_06_on.gif) top left no-repeat;
}


em{
	font-style:nomal;
	color:#8f0000;
}

/* リンク */

.arrow01{
	background: url(../cart/images/cart_arrow01.gif) left center no-repeat;
	padding-left:15px;
}

.arrow02{
	background: url(../cart/images/cart_arrow02.gif) left center no-repeat;
	padding-left:15px;
}

a.arrow02:link{
	color:#FFF;
}

/* mainContents */

#mainContents{
	padding:20px 0 10px 0;
	background-color:#FFF;
}

#leftContents{
	float:left;
	width:180px;
	padding-top:15px;
	padding-left:27px;
}

#leftContents h3{
	margin-bottom:30px;
}

#leftContents ul{
	margin:0;
	padding:0;
	font-size:1px;
	line-height:0;
}

#leftContents ul li{
	margin-bottom:8px;
}

#rightContents{
	float:right;
	width:680px;
	border-left:1px dashed #829d86;
	padding:15px 23px 0 23px ;
}

#copyright{
	background-color:#FFF;
	margin:45px 0 0 0;
	padding:0;
}

p img{
	vertical-align:middle;
}

/*---- コンテンツ ---------------------------------------*/
#contentsArea h2{
	margin-bottom:20px;
}

#contentsArea .catch{
	margin-top:20px;
}

#contentsArea table{
	margin-top:10px;
	border-top:1px solid #3d6845;
	border-left:1px solid #3d6845;
	border-right:1px solid #3d6845;
	width:100%;
}

#contentsArea table.top{
	margin-top:20px;
}

#contentsArea table.down{
	margin-bottom:15px;
}

#contentsArea table.downL{
	margin-bottom:30px;
}

#contentsArea table thead td.del{
	width:51px;
}

#contentsArea table th ,#contentsArea table td{
	border-bottom:1px solid #3d6845;
	border-right:1px solid #3d6845;
	padding:2px 5px;
	vertical-align:middle;
}

#contentsArea table thead th{
	background-color:#769392;
	color:#FFF;
}

#contentsArea table thead td{
	text-align:center;
	background-color:#d2dbdb;
}

#contentsArea table .price{
	text-align:center;
}

#contentsArea table tr.total{
	background-color:#d2dbdb;
}

#contentsArea table tr.postage{
	background-color:#eee;
}

#contentsArea table td.photo{
	border-right:none;
	padding:5px;
	width:60px;
}

#contentsArea table tr.total .title{
	text-align:right;
	border-right:none;
}

#contentsArea table tr.total .price{
	border-right:none;
}

#contentsArea table tbody th{
	width:130px;
	background-color:#d2dbdb;
}

#contentsArea table.formArea thead th{
	text-align:left;
}

/*Formのサイズ*/
#contentsArea table.formArea .longForm{
	width:250px;
	padding:2px 4px;
	border:1px solid #999;
}

#contentsArea table.formArea .longFormEx{
	width:400px;
	height:80px;
	padding:2px 4px;
	border:1px solid #999;
}

#contentsArea table.formArea .shortForm{
	width:125px;
	padding:2px 4px;
	border:1px solid #999;
}
/*//Formのサイズ*/

#contentsArea table.formArea thead th p{
	float:right;
}

#contentsArea table.formArea input{
	vertical-align:middle;
}
#contentsArea .cartTxt .txt{
	float:left;
}


#contentsArea .cartTxt ul{
	float:right;
}

#contentsArea .cartTxt ul li{
	float:left;
}

#contentsArea .cartTxt ul li.change{
	margin-right:10px;
}

#contentsArea .cartTxt p.change{
	float:right;
}

/*---- Action ---------------------------------------*/
.action{
	margin-top:20px;
}

.action .caption{
	text-align:center;
	margin-bottom:5px;
}

.action .add{
	text-align:center;
	margin-bottom:13px;
}
.action ul.alignright{
	float:right;
}

.action ul.aligncenter{
	width:180px;
	margin:0 auto;
}

.action p.aligncenter{
	text-align:center;
}

.action ul.aligncenter02{
	width:203px;
	margin:0 auto;
}

.action ul.aligncenter03{
	width:228px;
	margin:0 auto;
}

.action li.rev{
	float:left;
	margin-right:10px;
}

.action li.nxt{
	float:left;
}

.paypal_btn{
	float:right;
}
/*---- SSLについて ---------------------------------------*/

#sslTxt{
	width:586px;
	margin:30px auto;
	text-align:left;
}

/*---- tnanks ---------------------------------------*/
.thanksTxt{
	margin-bottom:250px;
}

/*---- エラー ---------------------------------------*/

.alertTxt{
	width:100%;
	margin:10px 0 50px 0;
	text-align:left;
}


.errorTxt{
	text-align:left;
	background-color:#ffd8d8;
	padding:1px 3px;
}