@charset "UTF-8";

#mainContents{
	padding:20px 0 20px 55px;
}

#copyright{
	margin-left:14px;
	padding-right:14px;
	text-align:right;
}

/* detail  */

#contentsArea{
	background:url(../help/images/detail_bg.gif) repeat-y left top;
}
#detailContents{
	padding:20px 14px 0 14px;
	background:url(../help/images/detail_bg_top.gif) repeat-x left top;
}

#detailContents .privacyBox h2{
	float:left;
	padding-left:10px;
}

#detailContents .privacyBox div.contents{
	float:right;
	width:678px;
	margin-bottom:30px;
}

#detailContents .privacyBox div h3{
	margin-bottom:10px;
}

#detailContents .privacyBox div h4{
	border-top:1px solid #032107;
	border-bottom:1px solid #032107;
	padding:6px 0 6px 10px;
}

#detailContents .privacyBox div.txtBox{
	margin-bottom:15px;
	margin-left:20px;
}

#detailContents .privacyBox .spacing10{
	margin-bottom:10px;
}

#detailContents .privacyBox .spacing20{
	margin-bottom:20px;
}


#detailContents table{
	margin-top:5px;
	width:98.5%;
	border-bottom:1px solid #425945;
}

#detailContents table th{
	border-bottom:1px dashed #425945;
	padding:4px;
	width:175px;
	vertical-align:top;
}

#detailContents table td{
	border-bottom:1px dashed #425945;
	padding:4px;
	vertical-align:top;
}

#detailContents table th.end,#detailContents table td.end{
	border-bottom:none;
	padding-bottom:15px;
}

.action{
	margin-top:20px;
}

.action .txt{float:left;}
.action .bt{float:right;}