@charset "UTF-8";

/* navi */
#subNavi{
	padding-left:57px;
	background:url(../portfolio/images/sub_bg.gif) top left repeat-x;
}

#subNavi li{
	float:left;
	height:31px;
}

#subNavi a{
	height:31px;
}

#subNavi #sub00{
	width:72px;
	background: url(../portfolio/images/s_navi_00_on.gif) top left no-repeat;
}

#subNavi #sub01{
	width:111px;
	background: url(../portfolio/images/s_navi_01_on.gif) top left no-repeat;
}
#subNavi #sub02{
	width:141px;
	background: url(../portfolio/images/s_navi_02_on.gif) top left no-repeat;
}
#subNavi #sub03{
	width:159px;
	background: url(../portfolio/images/s_navi_03_on.gif) top left no-repeat;
}
#subNavi #sub04{
	width:144px;
	background: url(../portfolio/images/s_navi_04_on.gif) top left no-repeat;
}
#subNavi #sub05{
	width:114px;
	background: url(../portfolio/images/s_navi_05_on.gif) top left no-repeat;
}
#subNavi #sub06{
	width:75px;
	background: url(../portfolio/images/s_navi_06_on.gif) top left no-repeat;
}

/* mainContents */

#mainContents{
	padding:30px 0 20px 0;
	background-color:#FFF;
}

.linkBox{
	padding-right:59px;
	padding-left:60px;
	margin-bottom:7px;
}

.linkBox p.title{
	float:left;
}

.linkBox .control{
	float:right;
}

.linkBox .control p{
	margin-bottom:10px;
}


.portLink{
	float:right;
	padding-top:10px;
}
.portLink li{
	float:left;
}

.portLink li.prev{
	margin-right:4px;
}

.categoryBox{
	margin-left:60px;
}


.categoryBox ul li{
	float:left;
	width:100px;
	height:100px;
	margin:0 20px 0 0;
	padding-bottom:18px;
}

.categoryBoxWed{
	margin-left:60px;
}


.categoryBoxWed ul li{
	float:left;
	width:150px;
	height:150px;
	margin:0 18px 0 0;
	padding-bottom:18px;
}

.ordermade{
	margin-left:60px;
	border-left:8px solid #66b2aa;
	padding-left:5px;
}

.ordermade img{
	vertical-align:middle;
	margin-left:20px;
}


#copyright{
	background-color:#FFF;
	text-align:right;
}