@charset "UTF-8";

#mainContents{
	padding:20px 0 20px 55px;
}

#copyright{
	margin-left:14px;
	padding-right:14px;
	text-align:right;
}

.linkBox{
	padding-right:55px;
	margin-bottom:10px;
}

.linkBox p{
	float:left;
}

.linkBox ul{
	float:right;
}

.plaisirLink{
	float:right;
	padding-bottom:7px;
}
.plaisirLink li{
	float:left;
}

.plaisirLink li.prev{
	margin-right:4px;
}

/* detail  */

#contentsArea{
	background:url(../information/images/bg.gif) repeat-y left top;
}
#detailContents{
	padding:20px 14px 0 14px;
}

#subNavi{
	background:url(../information/images/s_navi_bg.gif) repeat-x left top;
	padding-left:190px;
}

#subNavi li{
	float:left;
	margin-right:15px;
}

#subNavi li#sub01{
	width:100px;
	background:url(../information/images/s_navi_01_on.gif) no-repeat left top;	
}
#subNavi li#sub02{
	width:117px;
	background:url(../information/images/s_navi_02_on.gif) no-repeat left top;	
}
#subNavi li#sub03{
	width:109px;
	background:url(../information/images/s_navi_03_on.gif) no-repeat left top;	
}
#subNavi li#sub04{
	width:145px;
	background:url(../information/images/s_navi_04_on.gif) no-repeat left top;	
}
#subNavi li#sub05{
	width:150px;
	background:url(../information/images/s_navi_05_on.gif) no-repeat left top;	
}
#subNavi li#sub06{
	width:127px;
	background:url(../information/images/s_navi_06_on.gif) no-repeat left top;	
}

#detailContents #copyright{
	padding-bottom:0;
}
#detailContents .title .date{
	float:left;
} 

#detailContents .title ul{
	float:right;
}

#detailContents .title ul li{
	float:left;
}

#detailContents .title ul li.prv{
	margin-right:10px;
}

#detailContents .title h2{
	font-size:108%;
	clear:both;
	padding:5px 0;
	border-top:1px solid #043b0d;
	border-bottom:1px solid #043b0d;
	margin-bottom:3px;
}

#detailContents .title .cate{
	text-align:right;
	margin-bottom:7px;
}

#detailContents .leftBox{
	width:210px;
	float:left;
}

#detailContents .leftBox p{
	margin-bottom:0;
}

#detailContents .leftBox p.title{
	margin-bottom:15px;
	padding-left:34px;
}

#detailContents .leftBox p.titleAbout{
	margin-bottom:15px;
	padding-left:18px;
}

#detailContents .leftBox ul{
	width:170px;
	margin-left:5px;
	margin-bottom:10px;
}

#detailContents .leftBox ul li{
	padding-left:15px;
	background:url(../images/ico_leftbox.gif) no-repeat left 5px;
}


#detailContents .rightBox{
	width:696px;
	float:right;
}

#detailContents .rightBox .entryContents p{
	margin-bottom:20px;
}

/* アーカイブ */

#detailContents .archiveList li{
	float:left;
	width:330px;
	margin-top:20px;
	margin-right:10px;
	margin-bottom:17px;
}

#detailContents .archiveList li .photo{
	float:left;
	width:130px;
}

#detailContents .archiveList li .photo img{
	border:5px solid #FFF;
}

#detailContents .archiveList li div{
	float:left;
	width:185px;
}

#detailContents .archiveList li a{
	background:url(../information/images/ico_link.gif) no-repeat left center;
	padding-left:17px;
}

#detailContents .archiveList strong{
	margin:0;
}

#detailContents .archiveList a{
	margin:0;
}

#detailContents .archiveList p{
	margin:0;
}

#detailContents .title h2.aboutTitle{
	background:url(../information/present/images/ico.gif) no-repeat left center;
	font-size:108%;
	padding:5px 0 5px 10px;
	border-top:1px solid #043b0d;
	border-bottom:1px solid #043b0d;
	margin-bottom:3px;
}

#detailContents .title .about{
	margin-bottom:10px;
	padding-left:5px;
} 

#detailContents .aboutContents{
	margin-top:10px;
	margin-bottom:15px;
	padding-left:18px;
}

#detailContents .aboutContents .photo{
	float:left;
	width:209px;
}

#detailContents .aboutContents .txt{
	float:right;
	width:430px;
}

#detailContents .aboutContents .txt img{
	margin-bottom:5px;
}

#detailContents .aboutContents .staffPhoto{
	float:left;
	width:208px;
}

#detailContents .aboutContents .staffTxt{
	float:right;
	width:460px;
}

#detailContents .aboutContents .mapImg{
	float:left;
	width:338px;
}

#detailContents .aboutContents .mapTxt{
	float:right;
	width:460px;
}

#detailContents .aboutContents .mapTxt p{
	margin-bottom:10px;
}

#detailContents .aboutContents li{
	float:left;
	margin-right:17px;
	margin-bottom:10px;
}

.spacingRight05{
	margin-right:5px;
}

.spacingRight10{
	margin-right:10px;
}

.spacing05{
	margin-bottom:5px;
}
.leftTxt{
	float:left;
}
.rightAction{
	float:right;
}