@charset "UTF-8";

#mainContents{
	padding:20px 0 20px 55px;
}

#copyright{
	margin-left:14px;
	padding-right:14px;
	text-align:right;
}

/* detail  */

#contentsArea{
	background:url(../terms/images/detail_bg.gif) repeat-y left top;
}
#detailContents{
	padding:20px 14px 0 14px;
	background:url(../terms/images/detail_bg_top.gif) repeat-x left top;
}


#detailContents .termsBox{
	
}
#detailContents .termsBox h2{
	float:left;
}

#detailContents .termsBox table{
	float:right;
	width:678px;
	border-left:1px solid #032107;
	border-bottom:1px solid #032107;
	margin-bottom:30px;
}

#detailContents .termsBox table th,#detailContents .termsBox table td{
	border-top:1px solid #032107;
	border-right:1px solid #032107;
	padding:3px 6px;
}
#detailContents .termsBox table th{
	width:170px;
	background-color:#c7e2e1;
	vertical-align:top;
}

#detailContents .termsBox .pay{
	float:right;
	width:678px;
}

#detailContents .termsBox .pay p{
	margin-bottom:10px;
}

#detailContents .termsBox table td img{
	border:1px solid #032107;
	margin-right:5px;
}

#detailContents .termsBox table td .spacing10{
	margin-bottom:10px;
}

#detailContents .termsBox table td .spacing20{
	margin-bottom:20px;
}