@charset "UTF-8";

#mainContents{
	padding:20px 0 20px 55px;
	background-color:#e5e5e5;
}

#indexBg{
	background-color:#e5e5e5!important;
}

#copyright{
	background-color:#e5e5e5;
}

.linkBox{
	padding-right:55px;
	margin-bottom:10px;
}
.linkBox p{
	float:left;
}

.linkBox ul{
	float:right;
}
.loversLink{
	float:right;
	padding-bottom:7px;
}
.loversLink li{
	float:left;
}

.loversLink li.prev{
	margin-right:4px;
}

#loversList{
	clear:both;
}

#loversList div.loversEntry {
	width: 120px;
	background-color:#FFF;
	margin-bottom:20px;
	margin-right:18px;
	padding-bottom:8px;
	vertical-align:top;
	display: -moz-inline-box; /*Fx2 and older*/
	display: inline-block;
	/display: inline; /*IE 7 and older*/
	/zoom: 1; /*IE 7 and older*/
}
#loversList div.loversEntry > div{
	width:120px;
	display:block;
}

#loversList div.loversEntry .photo{
	margin:10px 10px 3px 10px ;
	width:100px;
}
#loversList div.loversEntry .txt{
	margin:0 10px 0 10px ;
	width:100px;
	font-size:85%;
	line-height:130%;
}



/* detail  */
#detailContents{
	padding:20px 55px;
	background:url(../images/detail_bg_top.gif) repeat-x left top	#e5e5e5;
}
#detailContents .title{
	margin-bottom:10px;
}

#detailContents .title h2{
	font-size:138.5%;
	width:645px;
	float:left;
	padding:5px 0; 

}

#detailContents .title h2 span{
	font-size:138.5%;
	margin-right:10px;
	vertical-align:middle;
	padding-bottom:3px;
}

#detailContents .title ul{
	float:right;
	padding-top:10px;
}

#detailContents .title ul li{
	float:left;
}

#detailContents .title ul li.prev{
	margin-right:5px;
}
#detailContents .title ul li.nxt{
	margin-right:15px;
}

#detailContents .leftBox{
	width:401px;
	float:left;
}

#detailContents .rightBox{
	width:415px;
	float:right;
}

#detailContents .leftBox img{
	border:13px solid #FFF;
}

#detailContents .rightBox table{
	width:100%;
	border-top:1px solid #043b0d;
	border-right:1px solid #043b0d;
	margin-bottom:15px;
}

#detailContents .rightBox table th{
	border-bottom:1px solid #043b0d;
	border-left:1px solid #043b0d;
	background-color:#c7e2e1;
	padding:2px 13px;
	font-size:85%;
}

#detailContents .rightBox table td{
	border-bottom:1px solid #043b0d;
	border-left:1px solid #043b0d;
	padding:2px 13px;
}

#detailContents .rightBox table .name{
	width:110px;
}

#detailContents .rightBox table .age{
	width:20px;
	text-align:center;
}

#detailContents .rightBox table .link{
	width:90px;
	text-align:center;
}
#detailContents .rightBox dl{
	margin-bottom:20px;
}
#detailContents .rightBox dt{
	margin-bottom:5px;
	font-weight:bold;
}

#detailContents .rightBox dd{
	margin-bottom:10px;
	margin-left:2em;
}

#detailContents .rightBox #flowersData h3{
	padding:8px;
	border-top:1px solid #043b0d;
	border-bottom:1px solid #043b0d;
	margin-bottom:10px;
}

#detailContents .rightBox #flowersData .photo{
	float:left;
	width:113px;
}

#detailContents .rightBox #flowersData .data{
	margin-bottom:20px;
}

#detailContents .rightBox #flowersData .data div{
	float:right;
	width:282px;
}

#detailContents .rightBox #flowersData .data div li{
	background:url(../images/ico_listdot.gif) no-repeat left center;
	padding-left:12px;
}

#detailContents .rightBox #flowersData .data div ul{
	margin-bottom:20px;
}
